// Colores
// En sass existen variables en css

// Para definir una variable $variable: valor;

// Paleta de colores
$orange: #F77F00;
$grey: #D7DADB;
$blue: #003566;
$green: #25A18E;
$light-blue: #00A6ED;
$light-light-blue: #CAF0F8;
$blue-card: #00A6ED;
$yellow: #FFB400;
$white: #fff;
$black: #000;

// fonts 
$small: 16px;
$medium: 20px;
$big: 40px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 67px;

$border-radius: 4px;